blockquote{
	border-left: 0px !important;
}
main{
	font-family: 'Open Sans', sans-serif;
}

.studhr{
	border-top: 1px solid #DCDCDC
}

.nopadding{
	padding-left: 0px;
	padding-right: 0px;
}

.margin_lr{
	margin-left: 0px;
	margin-right: 0px;
}

.hr_size{
	width:50%;
}

.subt_pers{
	font-style: italic;
}
.nomargin_bottom{
	margin-bottom: 2px;
}

.nomargin{
	margin: 0px !important;
}

.janushead{
	border-bottom: 0px !important;
}
